extends layout1 
block content 
    link(rel="stylesheet", href="/iventory.css", type="text/css")

      
    center
      if alert =='success' 
        div.alert.alert-success Expense Cost added successfully
      if alert =='error'
        div.alert.alert-danger An error occured, failed to add information      
      
      form.iventory(name='contactForm'  action='iventory' method='post' onsubmit='return validate();')
        h2 Inventory Cost Form
        .row
          label
          select(name='item' id='item')
            option(value='' selected='' disabled='') --Select Item--
            option Polish
            option Powdered Detergents
            option Electricity Units
          #itemErr.error
        .row
          label
          input#price(type='number' name='price' placeholder='Enter the Cost of Item')
          #costErr.error
        
        .row
          label
          input#currentdate.form-control(type='text' name='currentdate' placeholder='Enter Current date' onclick="(this.type='Date')")
          #dateErr.error
        
        .row
          button.form-control.btn.btn-primary(type='submit')
            | submit
    br
    br
    br
    br

    // footer Copyright message
    footer.bg-light.text-center.text-lg-start
      .text-center.p-3(style='background-color: black;')
        | Copyright &copy; 2021 Zawash Car Bay.All rights reserved,Developed by Malinga Robert
    script(src='css/jquery-3.6.0.js')
    script(src='./ivent.js')
    script(src='css/bootstrap-4.6.0-dist/js/bootstrap.bundle.js')
