extends layout2 
block content 
 

    br
    br
    // Login form
    section
      if alert == "error"
        div.alert.alert-danger An error occurred, invalid username or password
      .container
        .row.d-flex.justify-content-center
          .col-sm-6.login-form
            
            form.login(action='login' method='POST' name='login')
              h1 Zawash Login
              .form-group
                label(for='inputUsername') Username
                input#username.form-control(type='text' name='username' placeholder='Enter Email' required='' minlength='8')
              .form-group
                label(for='inputPassword') Password
                input#password.form-control(type='password' name='password' placeholder='Enter Password')
                span#errorpassword
              button.btn.btn-primary(onclick='validation()' name='login' style='width: 395px')
                | Login
              br
              p
                a(href='/register/manager') Forgot Password
              //- button.btn.btn-danger(type='submit' onclick='/register/manager') SignUp
              //- a.btn.btn-danger(href='/register/manager') Signup
              //- br
              //- p
              //-   a(href='#') Have No Account
    br
    br
    //-  Copyright mesaage
    footer.bg-light.text-center.text-lg-start
      .text-center.p-3(style='background-color: black; color: white')
        | Copyright &copy; 2021 Zawash Car Bay.All rights reserved,Developed by
        | Malinga Robert
    script(src='css/jquery-3.6.0.js')
    script(src='css/bootstrap-4.6.0-dist/js/bootstrap.bundle.js')
    script(src='/signin.js')
