extends layout1 
block content 
    link(rel="stylesheet", href="/manager.css", type="text/css")
      //-  success and error alert message
    if alert == "success"
      div.alert.alert-success Manager added successfully!
    if alert == "error"
      div.alert.alert-danger An error occurred, failed to add manager           

    form(name='addManager' onsubmit='return Validate();' action='/register/manager' method='post')
      h2 Manager Signup
      .row
        label Full Names
        input#fullname(type='text' name='fullname')
        #fnameErr.error
      .row
        label Email Address
        input#email(type='text' name='username')
        #emailErr.error
      .row
        label Mobile Number
        input#number(type='number' name='phoneNumber')
        #mobileErr.error
      .row
        label Enter Password
        input#password(type='password' name='password')
        #passErr.error
      .row
        button.form-control.btn.btn-primary(type='submit')
          | submit
    br
    br

    // footer copyright message
    footer.bg-light.text-center.text-lg-start
      .text-center.p-3(style='background-color: black; color: white')
        | Copyright &copy; 2021 Zawash Car Bay.All rights reserved,Developed by
        | Malinga Robert
    script(src='css/jquery-3.6.0.js')
    script(src='./man.js')
    script(src='css/bootstrap-4.6.0-dist/js/bootstrap.bundle.js')
