extends layout1 
block content
    link(rel="stylesheet", href="/styles.css", type="text/css")
    link(rel="stylesheet", href="/reg.css", type="text/css")
    center
      .Register
        //-  success and error alert message
        if alert =='success'
          div.alert.alert-success Washer information added successfully
        if alert =='error'
          div.alert.alert-danger An error occured, failed to add information

        form.regform(action='register' method='POST' name='register-form' onsubmit='return Validate();')
          h1 Register Washer Here
          input#fullname.form-control(type='text' name='fullname' placeholder='Enter Your Fullnames')
          #name_error.val_error
          br
          select#gender(name="gender").form-control
                option(value='' selected='' disabled='') --Select Gender--
                option(value='male') Male
                option(value='female') Female
          #gender_error.val_error
          br  
          .dob
            input#dateofbirth.form-control(type='text' name='dateofbirth' max='2003-12-01'  placeholder='Date Of Birth' onfocus="(this.type='date')")
            #dateofbirth_error.val_error
          br
          .nID
            input#nationalid.form-control(type='text' name='nationalid' placeholder='NationalID NIN')
            #nationalid_error.val_error
          br
          .residence
            input#residence.form-control(type='text' name='residence' placeholder='Enter Place Of Residence')
            #residence_error.val_error
          br
          .EmployeeID
            //- p EmployeeID
            input#employeeid.form-control(type='text' name='employeeid' placeholder="EmployeeID-(ZWASH379)")
            #employeeid_error.val_error
          br
          button.form-control.btn.btn-primary(type='submit')
            | submit
    //-  footer copyright message
    footer.bg-light.text-center.text-lg-start
      .text-center.p-3(style='background-color: black; color: white')
        | Copyright &copy; 2021 Zawash Car Bay.All rights reserved,Developed by
        | Malinga Robert
    script(src='css/jquery-3.6.0.js')
    script(src='/reg.js')
    script(src='css/bootstrap-4.6.0-dist/js/bootstrap.bundle.js')


