//- extends layout
//- block content
//-     nav.navbar.navbar-expand-lg.navbar-dack.bg-danger
//-     h2.navbar-brand.brand-name
//-         a(href='index.html')
//-         img.img-responsive2(src='/images/logo.png')
//-     a.navbar-brand(href='index.html')
//-         strong ZAWASH
//-     button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
//-         span.navbar-toggler-icon
//-     #navbarSupportedContent.collapse.navbar-collapse
//-         ul.navbar-nav.mr-auto
//-         li.nav-item.active
//-             a.nav-link(href='/index.html')
//-             | Home
//-             span.sr-only (current)
//-         li.nav-item
//-             a.nav-link(href='/iventory.html') Iventory
//-         .nav.navbar-nav.navbar-right
//-         ul.nav.navbar-nav.navbar-right
//-             li.nav-item
//-             a.nav-link(href='/carRegister.html') CarTracking 
//-             li.nav-item
//-             a.nav-link(href='/signin.html') Login
//-             li.nav-item
//-             a.nav-link(href='/register.html') Register
//-     header.card-header
//-         h4.card-title Register Manager
//-     br
//-     nav
//-     #nav-tab.nav.nav-tabs(role='tablist')
//-         a#nav-home-tab.nav-item.nav-link(href='/') Home
//-         a#nav-profile-tab.nav-item.nav-link(href='/register/vehicle')  Add Vehicle
//-         a#nav-contact-tab.nav-item.nav-link(href='/register/washer')  Add Washer
//-         a#nav-profile-tab.nav-item.nav-link(href='/register/expenses')  Add Expenses
//-         a#nav-contact-tab.nav-item.nav-link.active(href='/register/manager')  Add Manager
//-     #nav-tabContent.tab-content
//-         br
//-         if alert == "success"
//-             div.alert.alert-success Manager added successfully
//-         if alert == "error"
//-             div.alert.alert-danger An error occurred, failed to add manager
//-         form(method="POST" action='/register/manager')
//-             div.form-row
//-                 div.col.form-group
//-                     label First name 
//-                     input.form-control(name="firstname")
//-                 div.col.form-group
//-                     label Last name
//-                     input.form-control(name="lastname")
//-                 div.col.form-group
//-                     label User name
//-                     input.form-control(name="username")
//-             div.form-row
//-                 div.col.form-group
//-                     label Create Password
//-                     input.form-control(type="password" name="password")
//-             div.form-row
//-                 div.col.form-group
//-                     button.btn.btn-primary.btn-block Add manager
                            