extends layout 
block content
  title Login Form
  body
    nav.navbar.navbar-expand-lg.navbar-dack.bg-danger
      h2.navbar-brand.brand-name
        a(href='index.html')
          img.img-responsive2(src='/images/logo.png')
      a.navbar-brand(href='index.html' style='color: white;')
        strong ZAWASH
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/index.html' style='color: white;')
              | Home
              span.sr-only (current)
          //
            <li class="nav-item">
            <a class="nav-link" href="forms.html">forms</a>
            </li>
          //
            <li class="nav-item">
            <a class="nav-link" href="tables.html">tables</a>
            </li>
        .nav.navbar-nav.navbar-right
          ul.nav.navbar-nav.navbar-right
            li.nav-item
              a.nav-link(href='/signin.html') Sign in
            li.nav-item
              a.nav-link(href='/register.html') Register
    br
    br
    section
      .container
        .row.d-flex.justify-content-center
          .col-sm-6.login-form
            form.login(action='login' method='POST' name='login')
              h1 Zawash Login
              .form-group
                label(for='inputUsername') Username
                input#username.form-control(type='text' name='username' placeholder='Enter Email' required='' minlength='8')
              .form-group
                label(for='inputPassword') Password
                input#password.form-control(type='password' name='password' placeholder='Enter Password')
                span#errorpassword
              button.btn.btn-primary(name='login' onclick='validation()' style='width: 395px;') Login
              br
              p
                a(href='#') Forgot Password
              button.btn.btn-danger(type='button') SignUp
              br
              p
                a(href='#') Have No Account
    // Copyright
    br
    br
    footer.bg-light.text-center.text-lg-start
      .text-center.p-3(style='background-color: black;color: white;')
        | Copyright &copy; 2021 Zawash Car Bay.All rights reserved,Developed by Malinga Robert
    script(src='/signin.js')
