.table{
    border: grey;
    width: 700px;
    /* padding-top: 50px; */
    margin-bottom: 70px;
    float: center;
}
.card-header{
    width: 700px;
    align-self: center;
    background-color: grey;
}
#nav-tab.nav.nav-tabs{
    width: 800px;
}
.search{
    width: 700px;
}

p {
    color: black;
}


nav{
    font-style: color white;
}
h5{
    color: RED;

}
H1{
    color: red;
    font-size: 30px;
    text-align: center;
    font-style: normal;
}
.login-form{
    margin: 20px;
    width: 60px;
    padding-left: 70%;

}   
.Login-form {
      border: 2px solid rgb(226, 226, 226);
      padding: 40px 40px;
      border-radius: 10px;
      
}
  

.login{
    border: 2px solid grey; 
    width: 500px;
    padding: 50px;
    border-radius: 10px;
    background-color:lightgrey;
}
.login h1{
    color: blue;
    padding-bottom: 10px;
}
 .login-form p{
color: blue;
 }
 .regform{
border: 1px solid grey;
border-radius: 10px;
padding: 40px;
margin: 50px;
align-items: center;
width: 400px;
background-color: lightgrey;


}
.regform h1{
color: blue;
padding-bottom: 15px;

}
span{
    color: red;
}


.regform p{
    text-align: left;
    margin-bottom: 2px;
}
.gender{
float: left;
color: black;
position: relative;
padding-top: 8px;
}

.val_error{
    color: red;
    position: relative;
    float: left;
}
#nationalid_error{
    position: relative;
    margin-top:  -20px;
    margin-bottom: 20px;
}
#dateofbirth_error{
    position: relative;
    margin-top:  -20px;
    margin-bottom: 20px;
}
#gender_error{
    position: relative;
    margin-top: -15px;
    margin-bottom: 20px;
}
.carreg{
   margin-top: 80px;
   border: 1px solid grey;
   width: 700px;
   padding-top: 30px;
   padding-bottom: 30px;
   justify-content: center;
   align-content: center;
   float: center;
   background-color: lightgrey;
   border-radius: 10px;
   position: relative;
   justify-items: fixed; 
   background-color: lightgrey;
}
.carreg h1{
    color:  blue;
    padding-bottom: 10px;
}
.carreg label{
    font-size: 18px;
    color: blue;
}
.error{
    color: red;
}
#asign{
    padding-top:  -15px;
    margin-top: -25px;
}
.carreg p{
    font-size: 18px;
    color: blue;
}
.hat{
    border: 1px solid brown;
    width: 600px;
    padding-bottom: 20px;
    margin-top: 50px;
}


