

p {
    color: black;
}

td {
    border-color: brown;
    border-style: solid dashed ;
}
nav{
    font-style: color white;
}
h5{
    color: RED;

}
H1{
    color: red;
    font-size: 30px;
    text-align: center;
    font-style: normal;
}
.login-form{
    margin: 20px;
    width: 60px;
    padding-left: 70%;
}   
.Login-form {
      border: 2px solid rgb(226, 226, 226);
      padding: 40px 40px;
      border-radius: 10px;
      
}
  

.login{
    border: 2px solid grey; 
    width: 500px;
    padding: 50px;
    border-radius: 10px;
    background-color: white;
}
.login h1{
    color: blue;
    padding-bottom: 10px;
}
 .login-form p{
color: lightskyblue;
 }
 .regform{
border: 1px solid grey;
border-radius: 10px;
padding: 40px;
margin: 50px;
align-items: center;
width: 400px;
background-color: white;


}
.regform h1{
color: blue;
padding-bottom: 15px;

}
span{
    color: red;
}


.regform p{
    text-align: left;
    margin-bottom: 2px;
}
.gender{
float: left;
color: black;
}

.val_error{
    color: red;
}
.carreg{
   margin-top: 80px;
   border: 1px solid grey;
   width: 700px;
   padding-top: 30px;
   padding-bottom: 30px;
   justify-content: center;
   align-content: center;
   float: center;
   background-color: lightgrey;
   border-radius: 10px;
}
.carreg h1{
    color: blue;
    padding-bottom: 10px;
}
.carreg label{
    color: black;

}
